
h1{
    font-family: PressStart2P;
    font-size: 2rem;
    text-transform: uppercase;
}
h2{
    font-family: PressStart2P;
    font-size: 1rem;
    text-transform: uppercase;
}
p{
    font-size: $default-font-size;
    font-family: PressStart2P;
}