@import"../../assets//sass//main.scss";
.input-window{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:space-around ;
    height: 90%;
    .box{
        background-color: $color-secondary;   
        box-shadow: 13px 15px;
    }
    
    .body{
        width: 537px;
        max-height: 300px;
        border:  5px solid #000;
        border-top: none;
        .list{
            padding: 45px;
            .row{
                display: flex;
                flex-flow: row;
                width: 441px;
                height: 71px;
                justify-content: space-between;
                .col{
                    display: flex;
                    flex-flow: column;

                    &.right{
                        justify-content: start;
                     
                    }
                    &.left{
                        justify-content: end;
                     
                    }
                    h2{
                        padding: 5px 19px;
                        background-color: white;
                        box-shadow: 5px 5px;
                    }
                }
            }
        }
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 65px;
        background-color: $color-secondary;
        border:  5px solid #000;
        box-shadow: 8px 4px ;
        text-align: center;
        cursor: pointer;
        h1{
            
            text-align: center;
            font-family: Press Start 2P;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 109.091% */
            letter-spacing: -0.242px;

            background-color: white;
            padding: 10px 30px;
            
        }
        &:active{
            box-shadow: none;
            transform: translate(8px, 4px)
        }
    }
}
