@import"../../assets//sass//main.scss";
.drag-drop{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-secondary;
    box-shadow: 13px 15px;
    border: 5px solid #000;
}
.drag-drop--window{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 555px;
    height: 233px;
}
.drag-drop--preview{
   padding: 90px;
    img{
        max-height: 400px;
        max-width: 400px;
    }
}
.drap-drop--text{
color: #000;
text-align: center;
font-family: PressStart2P;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 109.091% */
letter-spacing: -0.242px;
padding:0 120px 0 120px;

}

.underline{
    text-decoration: underline;
    text-decoration-thickness: 3px; 
}