
.drag-drop-window{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 555px;
    height: 233px;
    border: 5px solid #000;
    background: #BBE4FF;
    box-shadow: 13px 15px;
}

.drap-drop{
color: #000;
text-align: center;
font-family: PressStart2P;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 109.091% */
letter-spacing: -0.242px;
padding:0 120px 0 120px;

}

.underline{
    text-decoration: underline;
    text-decoration-thickness: 3px; 
}