.main{
    z-index: 2;
    height:80vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    background: #FCF;
    padding-left: 10%;
    padding-right: 10%;
}