@import"../../assets/sass/main.scss";
.topBar{
    &.row{
        display: flex;
        flex-direction: row;
        height: 2.75rem;
        border:  0.25rem solid #000;
    }
}
.topBar-col{
    flex-direction: column;
    flex-basis: auto;
    display: flex;
    justify-content: center;
    &.grow-10{
        flex-grow: 10;
    }
    &.logo{
       align-items: center;
        width: 3.375rem;
        border-left: 0.25rem solid #000;
    }
}
.underline{ margin-top: 0.875rem;}
